.projects {
  background-color: var(--gray);
}

.project-holder {
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.projects_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.head {
  color: var(--three);
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.projects_content > div {
  margin-bottom: 40px;
}

.project_image {
  width: 100%;
}

h4 {
  color: var(--two);
  text-transform: capitalize;
  margin: 10px 0;
}

p {
  color: var(--four);
  margin: 20px 0;
}

.actions {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: #00000080;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.actions i {
  color: var(--white);
  font-size: 20px;
}

.actions i:hover {
  color: var(--three);
}

.project-holder:hover .actions {
  height: 100%;
  visibility: visible;
}

.filter {
  padding: 4rem 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.filter li {
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.filter li.active {
  color: var(--white);
  background-color: var(--three);
}

@media (max-width: 800px) {
  .projects_content > div {
    flex-direction: column-reverse;
  }
  .projects_content > div div:first-of-type,
  .projects_content > div div:last-of-type {
    width: 100%;
    text-align: center;
  }
}
