.projects {
  background-color: var(--gray);
}

.project-holder {
  text-align: center;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.projects_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 8rem 0;
}

.head {
  color: var(--three);
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.projects_content > div {
  margin-bottom: 40px;
}

.project_image {
  width: 100%;
}

h4 {
  color: var(--three);
  text-transform: uppercase;
  margin: 10px 0;
}

p {
  color: var(--four);
  margin: 20px 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.actions i {
  color: var(--two);
  font-size: 20px;
}

.actions i:hover {
  color: var(--three);
}

@media (max-width: 800px) {
  .projects_content > div {
    flex-direction: column-reverse;
  }
  .projects_content > div div:first-of-type,
  .projects_content > div div:last-of-type {
    width: 100%;
    text-align: center;
  }
}
